:root {
    --bittersweet: #ee6352;
    --jet: #3a3335;
    --pigmented-green: #53a548;
    --papaya-whip: #fdf0d5;
    --blue: #3277a9;
    --light-grey: #cccccc;
}

/* General Settings */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
}

/* Manage the background*/
.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

/* Log in box*/
.form-box {
    width: 250px;
    height: 480px;
    position: relative;
    margin: 30% auto;
    background-color: white;
    padding: 5px;
    overflow: hidden;
}

/* Button at the top */
.button-box {
    width: 210px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    border: 1px solid red;
}

.toggle-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 34px;
    padding-right: 25px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

/* Color inside top buttons */
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

/* Social media icons */
.social-icons {
    margin: 30px auto;
    text-align: center;
}

.social-icons img {
    width: 20px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    background: none;
}

/* Horizontal line between social icons and form */
hr.center {
    width: 30%;
    border-top: 1px solid #333;
    margin: auto;
}

.divider-social {
    text-align: center;
    display: flex;
}

/* Form section */
.input-group {
    top: 180px;
    position: absolute;
    width: 220px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid var(--light-grey);
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 5px;
}

/* Sign In */
.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

/* Positioning both */
#login {
    left: 20px;
}

#signup {
    left: 310px;
}

@media (min-width: 641px) {
    .form-box {
        width: 290px;
        height: 500px;
        margin: 6% auto;
    }

    .button-box {
        width: 220px;
    }

    .toggle-btn {
        padding: 10px 30px;
    }

    #btn {
        width: 110px;
    }

    .social-icons img {
        width: 30px;
    }

    hr.center {
        width: 40%;
    }

    .input-group {
        width: 260px;
        top: 200px;
    }
}