/*
 * To do: 
 *      - Work with the text
 *      - Color Palette, Font, and font size
 *      - Footer (Logo and list) align text center
 */

:root {
    --primary: ;
    --light-grey: #cccccc;
}

/* General Settings */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}
/* Navbar Commands */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 5px;
    border-bottom: 1px #cccccc solid;
}
.nav-left img {
    height: 50px;
    margin-right: 20px;
}
.nav-right {
    display: flex;
    align-items: center;
}
.login, .signup {
    text-decoration: none;
}
.login {
    border: 1px solid; /* color for the border missing */
    border-radius: 10px;
    padding: 5px 10px;
    /* Add background color for the log in button */
}
.vl {
    border-left: 1px solid var(--light-grey);
    height: 30px;
    margin: 0 10px;
}

/* Hero Section Commands */
.hero-section {
    height: fit-content;
    text-align: center;
    padding: 5px;
}
.button-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-activity, .btn-stay, .btn-restaurant {
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    margin-bottom: 10px;
    width: 150px;
    height: 70px;
}
.btn-activity a, .btn-stay a, .btn-restaurant a {
    text-decoration: none;
}
.btn-activity:hover, .btn-stay:hover, .btn-restaurant:hover {
    cursor: pointer;
}

/* Interactive Map Section Commands */
.interactive-map-section {
    text-align: center;
    padding: 5px;
}
.map-btn {
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    width: 150px;
    height: 70px;
    margin-bottom: 10px;
}
.map-btn a {
    text-decoration: none;
}
.map-btn:hover {
    cursor: pointer;
}

/* Footer Section */
footer {
    display: block;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    color: white;
    padding: 20px;
}
.footer-left {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.footer-left img {
    height: 50px;
    margin-right: 20px;
}
.vl-footer {
    border-left: 1px solid var(--light-grey);
    height: 35px;
    margin: 0 20px;
}
.quick-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
.quick-links a {
    text-decoration: none;
    color: white;
}
.footer-right {
    text-align: center;
    display: block;
    align-items: center;
}
.footer-right input[type="email"] {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--light-grey);
    margin-top: 5px;
}
.footer-right button {
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 3px;
}