
  <% for (const card of data) { %>
    <div class="card">
      <div class="image-area">
        <img src="<%= card.image %>" alt="banner-pic">
      </div>
      <div class="content">
        <h2><%= card.name %></h2>
        <address><%= card.location %></address>
      </div>
    </div>
  <% } %>
