<div class="card">
    <div class="image-area">
      <img src="<%= data.image %>" alt="banner-pic">
    </div>
    <div class="content">
      <h2><%= data.name %></h2>
      <address><%= data.location %></address>
    </div>
</div>
