<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventuras PR</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <link rel="stylesheet" href="css/map.css"/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        /* Fullscreen map */
            #map {
            position: fixed;
            top: 85px;
            left: 0;
            width: 100%;
            height: calc(100% - 85px);
            z-index: 1;
        }

        /* Navbar with bootstrap implemented*/
        .navbar {
            border-bottom: 1px #cccccc solid;
        }

        .signup {
            color: black;
            text-decoration: none;
            margin-right: 10px;
            margin-top: 7px;
        }

        .login {
            margin-bottom: 7px;
        }

        /* Toggle button with bootstrap implemented */
        .toggle-container {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 18px;
            padding: 0;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #000;
        }

        .toggle-button {
            padding: 4px 9px;
            cursor: pointer;
            border: none;
            background: none;
            outline: none;
            color: #000;
            flex: 1;
            margin: 0;
        }

        .toggle-button.active {
            font-weight: bold;
            background-color: #000;
            color: #fff;
            border-radius: 14px;
        }


        /* Card layout */
        .card {
            background-color: white;
            width: 250px;
            height: fit-content;
            border-radius: 5%;
            padding: 15px;
            border: 1px solid #cccccc
        }

        .image-area {
            justify-content: center;
            text-align: center;
        }

        .image-area img {
            width: 100%;
            border-radius: 0%;
            max-height: fit-content;
        }

        h2 {
            font-size: large;
        }
    </style>

</head>

<body>
        <header>
            <nav class="navbar">
                <div class="nav-left px-2 py-2">
                    <a href="/">
                        <img src="" alt="Logo" class="rounded-circle" height="70" width="70">
                    </a>
                </div>
                <div class="nav-right d-flex">
                    <div class="d-flex flex-row">
                        <a href="/signup" class="signup">Sign Up</a>
                        <a href="/login" class="login btn btn-primary">Log In</a>
                    </div>
                </div>
            </nav>
        </header>
    <main>
        <div id="map"></div>
        <div id="list" class="d-none"></div>
        <div class="toggle-container d-flex justify-content-center align-items-center">
            <button id="map-toggle" href="#" class="btn btn-toggle toggle-button active">Map</button>
            <button id="list-toggle" href="<%= routePrefix %>" class="btn btn-toggle toggle-button">List</button>
        </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        const map = L.map('map').setView([18.2208, -66.4], 10);
        const dataType = "<%= dataType %>";
        const googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });

        googleStreets.addTo(map);
        fetch('/' + dataType + '/mapdata')
            .then(response => response.json())
            .then(data => {
            data.forEach(markerData => {
                const marker = L.marker([markerData.lat, markerData.lng]).addTo(map);

                const popupContent = `
                <a href="/${dataType}/${markerData.id}" class="card">
                    <div class="image-area">
                    <img src="${markerData.image}" alt="${markerData.name}">
                    </div>
                    <div class="content">
                    <h2>${markerData.name}</h2>
                    <p>${markerData.description}</p>
                    </div>
                </a>
                `;
                marker.bindPopup(popupContent);
            });
            })
            .catch(error => console.error('Error fetching map data:', error));
        });

        document.addEventListener('DOMContentLoaded', () => {
                const mapToggle = document.getElementById('map-toggle');
                const listToggle = document.getElementById('list-toggle');
                const mapContainer = document.getElementById('map');

                if (mapToggle && listToggle && mapContainer) {
                    mapToggle.addEventListener('click', () => {
                        mapToggle.classList.add('active');
                        listToggle.classList.remove('active');
                        mapContainer.classList.remove('d-none');
                    });

                    listToggle.addEventListener('click', () => {
                        // Redirect to the list route
                        window.location.href = '<%= routePrefix %>';
                    });
                }
            });

    </script>
</body>

</html>