/* General Settings */
:root {
    --bittersweet: #ee6352;
    --jet: #3a3335;
    --pigmented-green: #53a548;
    --papaya-whip: #fdf0d5;
    --blue: #3277a9;
    --light-grey: #cccccc;
}


/* Nav bar with bootstrap */
.navbar {
    border-bottom: 1px #cccccc solid;
}

.logout {
    margin-bottom: 7px;
}



/* Profile Section  TODO */
.profile {
    display: flex;
    flex-direction: row;
    order: 1;
    margin-top: 50px;
    align-items: center;
    margin-top: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* List Section  TODO */
.separator {
    height: 1;
    border-left: 1px solid var(--jet);
    margin: 0 30px;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 2;
}

/* Card section TODO */
.card {
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 5%;
    padding: 10px;
    border: 1px solid #cccccc
}
.image-area {
    justify-content: center;
    text-align: center;
}
.image-area img {
    width: 100%;
    border-radius: 0%;
    max-height: fit-content;
}
h2 {
    font-size: large;
}

/* Footer with bootstrap implemented */
.quick-links {
    list-style: none;
}

.quick-links a {
    text-decoration: none;
    color: white;
}