/* General Settings */
:root {
    --bittersweet: #ee6352;
    --jet: #3a3335;
    --pigmented-green: #53a548;
    --papaya-whip: #fdf0d5;
    --blue: #3277a9;
    --light-grey: #cccccc;
}

/* Navbar with bootstrap implemented*/
.navbar {
    border-bottom: 1px #cccccc solid;
}

.signup {
    color: black;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 7px;
}

.login {
    margin-bottom: 7px;
}

/* Hero section with bootstrap implemented */
.hero {
    position: relative;
    overflow: hidden;
}

.hero video {
    object-fit: cover;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Section 2 */
.button-section {
    background-color: var(--papaya-whip);
}

.custom-btn {
    width: 250px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer with bootstrap implemented */
.quick-links {
    list-style: none;
}

.quick-links a {
    text-decoration: none;
    color: white;
}