/* General Settings */
:root {
    --vibrant-teal: #26C6DA;
    --warm-orange: #FFA726;
    --cheerful-yellow: #FFEB3B;
    --soft-green: #9CCC65;
    --light-grey: #F5F5F5;
    --dark-grey: #424242;
}

/* Navbar with bootstrap implemented*/
.navbar {
    background-color: var(--vibrant-teal);
}

.signup {
    text-decoration: none;
    color: var(--light-grey);
    margin-right: 10px;
    margin-top: 7px;
}

.login {
    margin-bottom: 7px;
}

/* Hero section with bootstrap implemented */
.hero {
    position: relative;
    overflow: hidden;
}

.hero video {
    object-fit: cover;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Section 2 */
.button-section {
    background-color: var(--light-grey);
}

.custom-btn {
    width: 250px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer with bootstrap implemented */
.quick-links {
    list-style: none;
}

.quick-links a {
    text-decoration: none;
    color: white;
}