:root {
    --vibrant-teal: #26C6DA;
    --warm-orange: #FFA726;
    --cheerful-yellow: #FFEB3B;
    --soft-green: #9CCC65;
    --light-grey: #F5F5F5;
    --dark-grey: #424242;
}


html, body, main {
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

/* Navbar with bootstrap implemented*/
.navbar {
    background-color: var(--vibrant-teal);
}

.signup {
    text-decoration: none;
    color: var(--light-grey);
    margin-right: 10px;
    margin-top: 7px;
}

.login {
    margin-bottom: 7px;
}

/* Carousel */
.container-fluid {
    background: #222;
    margin-bottom: 10px;
}

.swiper {
    width: 100%;
    height: 500px;
}

.swiper-slide img {
    width: 100%;
    /* object-fit: contain; */
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    color: white;
}

.swiper .swiper-pagination-bullet-active {
    background-color: white;
}

.social-icons img {
    width: 50px;
    height: 50px;
}

/* Footer with bootstrap implemented */
.quick-links {
    list-style: none;
}

.quick-links a {
    text-decoration: none;
    color: white;
}