:root {
    --bittersweet: #ee6352;
    --jet: #3a3335;
    --pigmented-green: #53a548;
    --papaya-whip: #fdf0d5;
    --blue: #3277a9;
    --light-grey: #cccccc;
}

/* General Settings */
body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

/* Navbar Commands */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 9px;
    border-bottom: 1px #cccccc solid;
}

.nav-left img {
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.nav-right {
    display: flex;
    align-items: center;
}

.signup {
    color: black;
}

.login,
.signup {
    text-decoration: none;
}

.login {
    background-color: #007bff;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
}

.vl {
    border-left: 1px solid var(--light-grey);
    height: 30px;
    margin: 0 10px;
}

/* Carousel */
.container {
    width: 100%;
    border: 2px solid red;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swipper {
    width: 80%;
    height: fit-content;
}

.swiper-slide img {
    width: 100%;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    color: white;
}

.swiper .swiper-pagination-bullet-active {
    background-color: white;
}


.restaurant-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 20px;
    width: 100%;
}

.restaurant-info h1 {
    text-align: center;
}

.business-hours,
.contact-info {
    font-size: large;
}

.business-hours {
    display: block;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.business-hours ul {
    list-style: none;
}

.contact-info {
    margin-top: 20px;
    width: 100%;
}

.contact-info hr {
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

.social-icons {
    display: inline;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    cursor: pointer;
    justify-content: space-around;
}

.social-icons img {
    width: 35px;
}

/* Footer Section */
footer {
    display: block;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    color: white;
    padding: 20px;
}

.footer-left {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-left img {
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.vl-footer {
    border-left: 1px solid var(--light-grey);
    height: 35px;
    margin: 0 20px;
}

.quick-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.quick-links a {
    text-decoration: none;
    color: white;
}

.footer-right {
    text-align: center;
    display: block;
    align-items: center;
}

.footer-right input[type="email"] {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--light-grey);
    margin-top: 5px;
}

.footer-right button {
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 3px;
}