:root {
    --vibrant-teal: #26C6DA;
    --warm-orange: #FFA726;
    --cheerful-yellow: #FFEB3B;
    --soft-green: #9CCC65;
    --light-grey: #F5F5F5;
    --dark-grey: #424242;
}

html {
    background-color: var(--light-grey);
}

/* Navbar with bootstrap implemented*/
.navbar {
    background-color: var(--vibrant-teal);
    border-bottom: 1px var(--light-grey) solid;
}

.signup {
    text-decoration: none;
    color: var(--light-grey);
    margin-right: 10px;
    margin-top: 7px;
}

.login {
    margin-bottom: 7px;
}

/* Card design  with bootstrap implemented */
.container-fluid {
    border-radius: 20px;
    padding: 20px;
    max-width: 1700px;
}
.card {
    text-decoration: none;
    color: var(--dark-grey);
}

/* Footer with bootstrap implemented */
.quick-links {
    list-style: none;
}

.quick-links a {
    text-decoration: none;
    color: white;
}