/* General */
body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

/* Nav bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 9px;
    border-bottom: 1px #cccccc solid;
    background-color: white;
}

.nav-left img {
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.nav-right {
    display: flex;
    align-items: center;
}

.signup {
    color: black;
}

.login,
.signup {
    text-decoration: none;
}

.login {
    background-color: #007bff;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
}

.vl {
    border-left: 1px solid var(--light-grey);
    height: 30px;
    margin: 0 10px;
}

/* Card design */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: beige;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    max-width: 1100px;
}

.card {
    background-color: white;
    width: 250px;
    height: fit-content;
    border-radius: 5%;
    padding: 15px;
    border: 1px solid #cccccc;
}

.image-area {
    justify-content: center;
    text-align: center;
}

.image-area img {
    width: 100%;
    border-radius: 0%;
    max-height: fit-content;
}

h2 {
    font-size: large;
}

/* Footer */
footer {
    display: block;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    color: white;
    padding: 20px;
}

.footer-left {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-left img {
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.vl-footer {
    border-left: 1px solid var(--light-grey);
    height: 35px;
    margin: 0 20px;
}

.quick-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.quick-links a {
    text-decoration: none;
    color: white;
}

.footer-right {
    text-align: center;
    display: block;
    align-items: center;
}

.footer-right input[type="email"] {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--light-grey);
    margin-top: 5px;
}

.footer-right button {
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 3px;
}