body {
    background: black;
}
.card {
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 5%;
    padding: 10px;
    border: 1px solid #cccccc
}
.image-area {
    justify-content: center;
    text-align: center;
}
.image-area img {
    width: 100%;
    border-radius: 0%;
}
h2 {
    font-size: large;
}